mixin img(file_name)
	img(src=imgPath + file_name, alt="")&attributes(attributes)

mixin figure(file_name)
	figure.image-container&attributes(attributes)
		+img(file_name)

mixin list-link(href, text, linkClass)
	li&attributes(attributes)
		if linkClass
			a(href=href, class=linkClass)= text
		else 
			a(href=href)= text

mixin blocks(blocks)
	each item in blocks
		.grid_4.text-center
			img(src=`${imgPath}${item.image}.png`)
			h3.h3= item.heading
			p= item.text
