script(src=jsPath + 'jquery.js')
script(src=jsPath + 'owl.carousel.min.js')
script(src=jsPath + 'jquery.fancybox.min.js')
script(src=jsPath + 'tab.js')
script(src=jsPath + 'scrollProgress.js')
script(src=jsPath + 'main.js')
